$sofialight:'sofia_prolight';
$sofiabold:'sofia_probold';
$sofiaregular:'sofia_proregular';

$white:#fff;
$black:#000;
$green:#16c662;
$blue:#448dfb;
$red:#ff5f62;
$blue_gradient:linear-gradient(to right, rgba(57, 161, 246, 1) 0%, rgba(59, 159, 247, 1) 25%, rgba(63, 150, 249, 1) 50%, rgba(67, 143, 250, 1) 71%, rgba(69, 139, 251, 1) 100%);
$green_gradient:linear-gradient(to right, #a9d477 0%, #94d175 25%, #6acd71 50%, #3cc86d 75%, #26c568 100%);
$red_gradient:linear-gradient(to right, rgba(255,153,102,1) 0%, rgba(255,145,101,1) 25%, rgba(255,123,100,1) 50%, rgba(255,112,99,1) 75%, rgba(255,96,99,1) 100%);