<div
  class="search_bar home"
  [ngClass]="{ search_bar: true, home: keyword?.length === 0 }"
>
  <div class="container">
    <h1 *ngIf="keyword?.length < 1" class="title">
        {{ apiService.currentTranslation?.data.h1 }}
    </h1>
    <!-- <h6 *ngIf="keyword?.length < 1">Worlds fastest domain checker.</h6> -->
    <form action="">
      <div class="inner">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Just start typing..."
          [(ngModel)]="keyword"
          [appNocharacter]="keyword"
          (keyup)="getDomainData()"
          appInputAutofocus
        />
        <span class="btns">
          <button *ngIf="keyword?.length < 1" type="button" class="search_btn">
            <img src="https://instantdomains.com/assets/images/search-icon.png" alt="" />
          </button>
          <button
            *ngIf="keyword?.length > 0"
            type="button"
            class="cross"
            (click)="clearKeyword()"
          >
            <img src="https://instantdomains.com/assets/images/cross.png" alt="" />
          </button>
        </span>
      </div>
      <div *ngIf="keyword?.length > 0" class="shortlisted drop">
        <button class="shotlist">
          <i class="fa fa-star" aria-hidden="true"></i
          ><span class="count" *ngIf="favDomains.length > 0">{{
            favDomains.length
          }}</span>
        </button>
        <div *ngIf="favDomains.length > 0" id="favMenu" class="list">
          <ul>
            <li *ngFor="let favDom of favDomains">
              <a href="{{ favDom.link }}" target="_blank" class="domain-name">
                {{ favDom.keyword }}
              </a>
              <div class="un-sort" (click)="removeFromFav(favDom.keyword)">
                <img src="https://instantdomains.com/assets/images/cross.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="search_selector">
      <ul class="d-flex">
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code : ''}}">{{ apiService.currentTranslation?.data.all }}</a></li>
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.extension_url}}">{{ apiService.currentTranslation?.data.extension }}</a></li>
        <li><a class="active" routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.generator_url}}">{{ apiService.currentTranslation?.data.generator }}</a></li>
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.sale_url}}">{{ apiService.currentTranslation?.data.for_sale }}</a></li>
        <!-- <li><a href="expired.html">Expired</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="filters" *ngIf="keyword?.length > 0">
  <div class="container">
    <div class="inner">
      <h5>{{ apiService.currentTranslation?.data.select_an_industry }}</h5>
      <ul>
        <li>
          <button
            class="dropdown industry_filter"
          >
          {{ apiService.currentTranslation?.data.industry_filter }}
          </button>
        </li>
        <li>
          <button
            class="dropdown extension_filter"
          >
          {{ apiService.currentTranslation?.data.extension }}
          </button>
        </li>
        <li>
          <button
            class="dropdown character_filter"
          >
          {{ apiService.currentTranslation?.data.character }}
          </button>
        </li>
      </ul>
    </div>
    <div class="dropdowns">
      <div
        class="industry_drop cstm_drop"
      >
        <div class="list_inner">
          <ul>
            <li *ngFor="let industry of apiService.industries">
              <input [(ngModel)]="industry.checked" type="checkbox" />
              <label
              style="text-transform: capitalize;"
                >{{ industry.industry }}
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
        <div class="btns">
          <button class="reset" type="button" (click)="resetIndustryFilter()">Reset</button>
          <button class="apply" type="button" (click)="filterByIndustry()">
              {{ apiService.currentTranslation?.data.apply }}
          </button>
        </div>
      </div>
      <div
        class="extension_drop cstm_drop"
      >
        <div class="list_inner">
          <ul>
            <li *ngFor="let tld of tldFilterOpts">
              <input
                data-index=""
                type="checkbox"
                [(ngModel)]="tld.checked"
                (click)="filterByTld(tld.item)"
              />
              <label
              (click)="filterByTld(tld.item)"
                >{{ tld.item }}
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="character_drop cstm_drop"
      >
        <h6>{{ apiService.currentTranslation?.data.character }} Count</h6>
        <nouislider
          [connect]="true"
          [min]="0"
          [max]="20"
          [step]="1"
          [tooltips]="[false, true]"
          [(ngModel)]="sliderValue"
        ></nouislider>
        <div class="btns">
          <button class="reset" type="button" (click)="resetCharFilter()">Reset</button>
          <button class="apply" type="button" (click)="filterByIndustry()">
              {{ apiService.currentTranslation?.data.apply }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="domain-list result-page" *ngIf="keyword?.length > 0">
  <div class="container">
    <ul class="d-flex row">
      <li class="col">
        <div class="main-col">
          <h4 class="sub-title">{{ apiService.currentTranslation?.data.generator }}</h4>
        </div>
        <ul>
          <li
            *ngFor="let domain of generatedDomains"
            [ngClass]="{
              avail: !domain.avialability,
              'not-avail': domain.avialability
            }"
          >
            <div class="inner">
              <span class="shotlist"  [ngClass]="{
                listed: isFavrouite(
                  domain.keyword + domain.after + domain.tld
                )
              }" (click)="
              addGenToFav(
                domain.keyword + domain.after + domain.tld,
                domain.link
              )
            "
                ><i class="fa fa-star" aria-hidden="true"></i
              ></span>
              <div class="detail">
                <a href="{{ domain.link }}" target="_blank" class="domain-name">
                  {{ domain.keyword }}<span class="ext">{{ domain.after }}</span
                  >{{ domain.tld }}
                </a>
                <a
                  href="{{ domain.link }}"
                  target="_blank"
                  class="tag"
                  *ngIf="!domain.avialability"
                  >{{ apiService.currentTranslation?.data.buy }}</a
                >
                <a
                  href="{{ domain.link }}"
                  target="_blank"
                  class="tag"
                  *ngIf="domain.avialability"
                  >WHOIS</a
                >
              </div>
            </div>
          </li>

          <!-- <li class="more_btn">
            <a href="#">View More</a>
          </li> -->
        </ul>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="keyword?.length < 1" class="domains">
  <div class="container">
    <h2>{{ apiService.currentTranslation?.data.primium_h2 }}</h2>
    <p>
        {{ apiService.currentTranslation?.data.serious_about_h3 }}
    </p>
    <ul class="d-flex" *ngIf="initSaleDomains.length > 0">
      <li *ngFor="let domain of initSaleDomains">
        <div class="domain_detail">
          <div class="img">
            <a href="{{ domain.link }}" target="_blank">
              <img src="https://instantdomains.com/{{ domain.image }}" alt="" />
            </a>
          </div>
          <div class="detail">
            <h3>
              <a href="{{ domain.link }}" target="_blank">{{
                domain.keyword
              }}</a>
            </h3>
            <p>${{ domain.price }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="more_btn">
      <a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}sale">{{ apiService.currentTranslation?.data.view_more }}</a>
    </div>
  </div>
</div>
