<div
  class="search_bar home"
  [ngClass]="{ search_bar: true, home: apiService.keyword?.length === 0 }"
>
  <div class="container">
    <h1 *ngIf="keyword?.length < 1" class="title">
      Instant Domain Name Search
    </h1>
    <h6 *ngIf="keyword?.length < 1">Worlds fastest domain checker.</h6>
    <form action="">
      <div class="inner">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Just start typing..."
          [(ngModel)]="keyword"
          [appNocharacter]="keyword"
          (keyup)="getDomainData()"
          appInputAutofocus
        />
        <span class="btns">
          <button *ngIf="keyword?.length < 1" type="button" class="search_btn">
            <img src="assets/images/search-icon.png" alt="" />
          </button>
          <button
            *ngIf="keyword?.length > 0"
            type="button"
            class="cross"
            (click)="clearKeyword()"
          >
            <img src="assets/images/cross.png" alt="" />
          </button>
        </span>
      </div>
      <div *ngIf="keyword?.length > 0" class="shortlisted drop">
        <button class="shotlist" (click)="toggleFavMenu()">
          <i class="fa fa-star" aria-hidden="true"></i
          ><span class="count" *ngIf="favDomains.length > 0">{{
            favDomains.length
          }}</span>
        </button>
        <div *ngIf="favDomains.length > 0" class="list" [ngClass]="{ show: showFavMenu }">
          <ul>
            <li *ngFor="let favDom of favDomains">
              <div class="domain-name">
                {{ favDom.keyword }}
              </div>
              <div class="un-sort" (click)="removeFromFav(favDom.keyword)">
                <img src="assets/images/cross.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="search_selector">
      <ul class="d-flex">
        <li><a routerLink="/">All</a></li>
        <li><a class="active" routerLink="/extensions">Extensions</a></li>
        <li><a routerLink="/generator">Generator</a></li>
        <li><a routerLink="/sale">For Sale</a></li>
        <!-- <li><a href="expired.html">Expired</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="ext-result" *ngIf="keyword?.length > 0" >
        <div class="container">
            <div class="main">
                <div *ngFor="let cat of apiService.tldCats"  class="inner">
                    <div class="ext-type">{{ cat }}</div>
                    <ul class="d-flex">
                        <li [ngClass]="{'avail': isAvail(tld.tld), 'not-avail': !isAvail(tld.tld)}" *ngFor="let tld of filterTldList(cat)" >
                          <a href="#">{{ tld.tld }}
                            <span *ngIf="isAvail(tld.tld)" class="tag">BUY</span>
                            <span *ngIf="!isAvail(tld.tld)" class="tag">WHOIS</span>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



<div *ngIf="keyword?.length < 1" class="domains">
  <div class="container">
    <h2>Premium Names</h2>
    <p>
      Serious about your business name? Get a premium business name from
      Domainify <br />branding experts. Logo, domain and transfer within 24
      hours included.
    </p>
    <ul class="d-flex" *ngIf="initSaleDomains.length > 0">
      <li *ngFor="let domain of initSaleDomains">
        <div class="domain_detail">
          <div class="img">
            <a href="{{ domain.link }}" target="_blank">
              <img src="{{ domain.image }}" alt="" />
            </a>
          </div>
          <div class="detail">
            <h3>
              <a href="{{ domain.link }}" target="_blank">{{
                domain.keyword
              }}</a>
            </h3>
            <p>${{ domain.price }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="more_btn">
      <a href="#">View More</a>
    </div>
  </div>
</div>