<div
  class="search_bar home"
  [ngClass]="{ search_bar: true, home: apiService.keyword?.length === 0 }"
>
  <div class="container">
    <h1 *ngIf="keyword?.length < 1" class="title">
        {{ apiService.currentTranslation?.data.h1 }}
    </h1>
    <!-- <h6 *ngIf="keyword?.length < 1">Worlds fastest domain checker.</h6> -->
    <form action="">
      <div class="inner">
        <label for="search input">
            <input
            type="text"
            id="search"
            name="search"
            placeholder="Just start typing..."
            [(ngModel)]="keyword"
            [appNocharacter]="keyword"
            (keyup)="getDomainData()"
            appInputAutofocus
            label="search domain"
          />
        </label>
        <span class="btns">
          <button *ngIf="keyword?.length < 1" type="button" class="search_btn" aria-label="search button">
            <img src="https://instantdomains.com/assets/images/search-icon.png" alt="" />
          </button>
          <button
            *ngIf="keyword?.length > 0"
            type="button"
            class="cross"
            (click)="clearKeyword()"
            aria-label="clear input value"
          >
            <img src="https://instantdomains.com/assets/images/cross.png" alt="" />
          </button>
        </span>
      </div>
      <div *ngIf="keyword?.length > 0" class="shortlisted drop">
        <button class="shotlist" aria-label="Shortlisted Domains">
          <i class="fa fa-star" aria-hidden="true"></i
          ><span class="count" *ngIf="favDomains.length > 0">{{
            favDomains.length
          }}</span>
        </button>
        <div *ngIf="favDomains.length > 0" id="favMenu" class="list">
          <ul>
            <li *ngFor="let favDom of favDomains">
              <a rel="nofollow" href="{{ favDom.link }}" target="_blank" class="domain-name">
                {{ favDom.keyword }}
              </a>
              <div class="un-sort" (click)="removeFromFav(favDom.keyword)">
                <img src="https://instantdomains.com/assets/images/cross.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="search_selector">
      <ul class="d-flex">
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code : ''}}" aria-label="all domains">{{ apiService.currentTranslation?.data.all }}</a></li>
        <li><a class="active" routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.extension_url}}" aria-label="domain extensions">{{ apiService.currentTranslation?.data.extension }}</a></li>
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.generator_url}}" aria-label="domain generator">{{ apiService.currentTranslation?.data.generator }}</a></li>
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.sale_url}}" aria-label="domain for sale">{{ apiService.currentTranslation?.data.for_sale }}</a></li>
        <!-- <li><a href="expired.html">Expired</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="ext-result" *ngIf="keyword?.length > 0 && domainData?.length > 0" >
        <div class="container">
            <div class="main">
                <div *ngFor="let cat of apiService.tldCats"  class="inner">
                    <div class="ext-type">{{ cat }}</div>
                    <ul class="d-flex">
                        <li [ngClass]="{'avail': isAvail(tld.tld), 'not-avail': !isAvail(tld.tld)}" *ngFor="let tld of filterTldList(cat)" >
                          <a rel="nofollow" href="{{ getLinkForDomain(tld.tld) }}" target="_blank">{{ tld.tld }}
                            <span *ngIf="isAvail(tld.tld)" class="tag">{{ apiService.currentTranslation?.data.buy }}</span>
                            <span *ngIf="!isAvail(tld.tld)" class="tag">WHOIS</span>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



<div *ngIf="keyword?.length < 1" class="domains">
  <div class="container">
    <h2>{{ apiService.currentTranslation?.data.primium_h2 }}</h2>
    <p>
        {{ apiService.currentTranslation?.data.serious_about_h3 }}
    </p>
    <ul class="d-flex" *ngIf="initSaleDomains.length > 0">
      <li *ngFor="let domain of initSaleDomains">
        <div class="domain_detail">
          <div class="img">
            <a rel="nofollow" href="{{ domain.link }}" target="_blank">
              <img src="{{ domain.image }}" alt="" />
            </a>
          </div>
          <div class="detail">
            <h3>
              <a rel="nofollow" href="{{ domain.link }}" target="_blank">{{
                domain.keyword
              }}</a>
            </h3>
            <p>${{ domain.price }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="more_btn">
      <a href="#">{{ apiService.currentTranslation?.data.view_more }}</a>
    </div>
  </div>
</div>