<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'results-page': apiService.keyword?.length > 0}" >
  <header [ngClass]="{'home': apiService.keyword?.length < 1}">
    <div class="container">
      <div class="upper_bar">
        <a class="logo" routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code : ''}}" aria-label="InstantDomains Logo with Home Link">
          <img src="https://instantdomains.com/assets/images/logo.png" alt="" />
        </a>
        <div class="language-dropdown">
          <button id="drop_btn" type="button">
            {{ getActiveLanguage() }} <img src="https://instantdomains.com/assets/images/bottom_arrow.png" alt="" />
          </button>
          <div class="dropdown">
            <h3>Choose your language</h3>
            <ul>
              <li *ngFor="let trans of apiService.translations" >
                <a [ngClass]="{'active': apiService?.translatingVar === trans?.code}" (click)="updateTranslations(trans?.code)" routerLink="/{{ trans.code !== 'en' ? trans.code : '' }}">{{ trans?.data?.native_name }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <div class="container">
      <div class="copyright">
        <span class="copy">Copyright &#169; <a href="#">Instantdomains.com. </a></span>
        <a href="#">Terms & Conditions. </a> <a href="#">Privacy Policy. </a>
        <a routerLink="/sitemap">Sitemap. </a><a herf="#">Contact</a>
      </div>
    </div>
  </footer>
</div>
