<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="{'results-page': apiService.keyword?.length > 0}" >
  <header [ngClass]="{'home': apiService.keyword?.length < 1}">
    <div class="container">
      <div class="upper_bar">
        <a class="logo" href="index.html">
          <img src="assets/images/logo.png" alt="" />
        </a>
        <div class="language-dropdown">
          <button id="drop_btn" type="button">
            English <img src="assets/images/bottom_arrow.png" alt="" />
          </button>
          <div class="dropdown">
            <h3>Choose your language</h3>
            <ul>
              <li><a href="#">Afrikaans</a></li>
              <li><a href="#">Albanian</a></li>
              <li><a href="#">Amharic</a></li>
              <li><a href="#">Arabic</a></li>
              <li><a href="#">Armenian</a></li>
              <li><a href="#">Azerbaijani</a></li>
              <li><a href="#">Basque</a></li>
              <li><a href="#">Dutch</a></li>
              <li><a class="active" href="#">English</a></li>
              <li><a href="#">Esperanto</a></li>
              <li><a href="#">Estonian</a></li>
              <li><a href="#">Filipino</a></li>
              <li><a href="#">French</a></li>
              <li><a href="#">Frisian</a></li>
              <li><a href="#">Galician</a></li>
              <li><a href="#">Georgian</a></li>
              <li><a href="#">German</a></li>
              <li><a href="#">Greek</a></li>
              <li><a href="#">Hebrew</a></li>
              <li><a href="#">Hindi</a></li>
              <li><a href="#">Hmong</a></li>
              <li><a href="#">Hungarian</a></li>
              <li><a href="#">Icelandic</a></li>
              <li><a href="#">Igbo</a></li>
              <li><a href="#">Indonesian</a></li>
              <li><a href="#">Romanian</a></li>
              <li><a href="#">Russian</a></li>
              <li><a href="#">Samoan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <div class="container">
      <div class="copyright">
        <span class="copy">Copyright &#169; <a href="#">Instantdomains.com. </a></span>
        <a href="#">Terms & Conditions. </a> <a href="#">Privacy Policy. </a>
        <a href="#">Sitemap. </a><a href="#">Contact</a>
      </div>
    </div>
  </footer>
</div>
