<div
  class="search_bar home"
  [ngClass]="{ search_bar: true, home: saleDomains?.length === 0 }"
>
  <div class="container">
    <h1 *ngIf="saleDomains?.length < 1" class="title">
        {{ apiService.currentTranslation?.data.h1 }}
    </h1>
    <!-- <h6 *ngIf="keyword?.length < 1">Worlds fastest domain checker.</h6> -->
    <form action="">
      <div class="inner">
        <input
          type="text"
          id="search"
          name="search"
          placeholder="Just start typing..."
          [(ngModel)]="keyword"
          [appNocharacter]="keyword"
          (keyup)="getDomainData()"
          appInputAutofocus
        />
        <span class="btns">
          <button *ngIf="saleDomains?.length < 1" type="button" class="search_btn">
            <img src="https://instantdomains.com/assets/images/search-icon.png" alt="" />
          </button>
          <button
            *ngIf="saleDomains?.length > 0"
            type="button"
            class="cross"
            (click)="clearKeyword()"
          >
            <img src="https://instantdomains.com/assets/images/cross.png" alt="" />
          </button>
        </span>
      </div>
      <div *ngIf="saleDomains?.length > 0" class="shortlisted drop">
        <button class="shotlist">
          <i class="fa fa-star" aria-hidden="true"></i
          ><span class="count" *ngIf="favDomains.length > 0">{{
            favDomains.length
          }}</span>
        </button>
        <div id="favMenu"
          *ngIf="favDomains.length > 0"
          class="list"
          [ngClass]="{ show: showFavMenu }"
        >
          <ul>
            <li *ngFor="let favDom of favDomains">
              <a href="{{ favDom.link }}" target="_blank" class="domain-name">
                {{ favDom.keyword }}
              </a>
              <div class="un-sort" (click)="removeFromFav(favDom.keyword)">
                <img src="https://instantdomains.com/assets/images/cross.png" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </form>
    <div class="search_selector">
      <ul class="d-flex">
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code : ''}}">{{ apiService.currentTranslation?.data.all }}</a></li>
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.extension_url}}">{{ apiService.currentTranslation?.data.extension }}</a></li>
        <li><a routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.generator_url}}">{{ apiService.currentTranslation?.data.generator }}</a></li>
        <li><a class="active" routerLink="/{{apiService.currentTranslation?.code !== 'en' ? apiService.currentTranslation?.code + '/' : ''}}{{apiService.currentTranslation.data.sale_url}}">{{ apiService.currentTranslation?.data.for_sale }}</a></li>
        <!-- <li><a href="expired.html">Expired</a></li> -->
      </ul>
    </div>
  </div>
</div>



<div class="filters sale_filter" *ngIf="saleDomains?.length > 0">
        <div class="container">
            <div class="inner">
                <ul>
                    <li class="full_wid"><button class="dropdown industry_filter">{{ apiService.currentTranslation?.data.category }}</button></li>
                    <li>
                        <div class="input">
                            {{ apiService.currentTranslation?.data.min }}
                            <input type="text" name="" [(ngModel)]="min" >
                        </div>
                    </li>
                    <li>
                        <div class="input">
                            {{ apiService.currentTranslation?.data.max }}
                            <input type="text" name="" [(ngModel)]="max" >
                        </div>
                    </li>
                    <li class="full_wid"><button class="submit" type="button" (click)="applyCategoryFilter()">Apply</button></li>
                </ul>
            </div>
            <div class="dropdowns">
                <div class="industry_drop cstm_drop">
                    <ul>
                        <li *ngFor="let category of saleCategories" >
                            <input name="industry" data-index="" type="checkbox" [(ngModel)]="category.checked" >
                            <label>{{ category.item.tags }}
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                    <div class="btns">
                        <button class="reset" type="button" (click)="resetCategoryfilter()">Reset</button>
                        <button class="apply" type="button" (click)="applyCategoryFilter()">{{ apiService.currentTranslation?.data.apply }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="domains sale" *ngIf="saleDomains?.length > 0">
        <div class="container" infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="1.5"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()">
            <ul class="d-flex">
                <li *ngFor="let domain of saleDomains" >
                    <div class="domain_detail">
                        <div class="img">
                            <a href="{{ domain.link }}" target="_blank">
                                <img src="https://instantdomains.com/{{ domain.image }}" alt="">
                            </a>
                        </div>
                        <div class="detail">
                            <h3><a href="{{ domain.link }}" target="_blank">{{ domain.keyword }}</a></h3>
                            <p>${{ domain.price }}</p>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- <div class="loader" *ngIf="stopInfiniteScroll" >
                <img src="https://instantdomains.com/assets/images/loader.svg" alt="">
            </div> -->
        </div>
    </div>

<div *ngIf="saleDomains?.length < 1" class="domains">
  <div class="container">
    <h2>{{ apiService.currentTranslation?.data.primium_h2 }}</h2>
    <p>
        {{ apiService.currentTranslation?.data.serious_about_h3 }}
    </p>
    <ul class="d-flex" *ngIf="saleDomains.length > 0">
      <li *ngFor="let domain of initSaleDomains">
        <div class="domain_detail">
          <div class="img">
            <a href="{{ domain.link }}" target="_blank">
              <img src="https://instantdomains.com/{{ domain.image }}" alt="" />
            </a>
          </div>
          <div class="detail">
            <h3>
              <a href="{{ domain.link }}" target="_blank">{{
                domain.keyword
              }}</a>
            </h3>
            <p>${{ domain.price }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="more_btn">
      <a href="#">{{ apiService.currentTranslation?.data.view_more }}</a>
    </div>
  </div>
</div>
